<!-- templates/home.html -->

<style>
    h1 {
        text-align: left;
        margin-left: 20px;
    }

    #featured-products {
        text-align: center;
        margin: 20px auto;
        width: 80%;
    }

    #contact-us p {
        margin: 5px 0;
    }
    </style>

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Aplha Hypermarketə xoş gəlmişsiniz</h1>
<p>Discover a wide range of products at unbeatable prices. We offer everything from fresh produce to household essentials and more. Shop with us for a convenient and enjoyable shopping experience.</p>

<section id="featured-products">
    <h2>Featured Products</h2>
    <div class="product">
        <h3>Product 1</h3>
        <p>High-quality item at a great price.</p>
    </div>
    <div class="product">
        <h3>Product 2</h3>
        <p>Another fantastic product you will love.</p>
    </div>
    <div class="product">
        <h3>Product 3</h3>
        <p>Don't miss out on this exclusive offer.</p>
    </div>
    <div class="product">
        <h3>Product 3</h3>
        <p>Don't miss out on this exclusive offer.</p>
    </div>
    <div class="product">
        <h3>Product 3</h3>
        <p>Don't miss out on this exclusive offer.</p>
    </div>
    <div class="product">
        <h3>Product 3</h3>
        <p>Don't miss out on this exclusive offer.</p>
    </div>
</section>


{% endblock %}
