<!-- templates/products.html -->
{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}
<div style="background-color: white;">
    <h1 style="margin-left:20px ">Our Products</h1>

<section id="products-list">
    <h2  style="margin-left:20px ">Available Products</h2>
    {% for id, product in products.items() %}
    <div class="product">
        <h3 style="color: #dddddd">{{ product.name }}</h3>
        <p style="color: #dddddd">{{ product.description }}</p>
        <p style="color: #dddddd"><strong>Price:</strong> ${{ product.price }}</p>
        <a href="/product/{{ id }}">View Product</a>
    </div>
    {% endfor %}
</section>
</div>
{% endblock %}
